<launch>
    <arg name="is_3d" default="true" />
    <node pkg="erl_geometry_rviz_plugin" type="test_rviz_plugin_frontier_display" name="test_rviz_plugin_frontier_display" output="screen">
        <param name="is_3d" value="$(arg is_3d)" />
    </node>
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_odom_transformer" args="0 0 0 0 0 0 1 map odom" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find erl_geometry_rviz_plugin)/rviz/test_rviz_plugin_frontier_display.rviz" />
</launch>
