<launch>
    <node pkg="erl_geometry_rviz_plugin" type="test_rviz_plugin_better_point_cloud2_display" name="test_rviz_plugin_better_point_cloud2_display" output="screen">
        <param name="mesh_file" value="$(find erl_geometry)/data/bunny_z_up.ply" />
    </node>
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_odom_transformer" args="0 0 0 0 0 0 1 map odom" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find erl_geometry_rviz_plugin)/rviz/test_rviz_plugin_better_point_cloud2_display.rviz" />

</launch>
